.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    flex-direction: column;
}

.row {
    /* display: grid; */
    place-items: center;
    /* grid-template-columns: auto auto auto auto; */
    display: flex;
    margin-left: -100px;
    margin-top: 445px;
    color: black;
}

.card-item {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 5px;
    height: auto;
}

.productImage {
    width: auto;
    height: auto;
    margin: 10px 0;
    cursor: pointer;
    object-fit: contain;
    border: 5px solid white;
}

.card-item-name {
    font-size: large;
    margin: 0;
}

.brand {
    font-size: 14px;
    color: #555555;
}

.sellPrice {
    display: flex;
    margin: 0;
}

.sellPrice small {
    color: #B12704;
    margin-top: 5px;
}

.sellPrice-p {
    font-size: x-large;
    color: #B12704;
    margin-bottom: 0;
}

.mrp {
    text-decoration: line-through;
    font-size: smaller;
    margin: 0 5px;
    margin-top: 10px;
}

#prime-logo {
    margin: 0 !important
}