.header {
    display: flex;
    position: sticky;
    top: 0;
    padding: 3px;
}

.nav-left {
    width: 22%;
    display: flex;
}

.div-logo{
    height: 50px;
    padding: 15px;
    width: 45%;
    margin-top: 2px;
}

.div-logo:hover{
    border: 1px solid white;
}

.app-logo {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

.nav-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px 5px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding: 10px;
}

.nav-location:hover{
    border: 1px solid white;
}

.nav-icon{
    padding-right: 8px;
    padding-top: 4px;
}
.nav-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span-location {
    margin-top: -5px;
    font-weight: bolder;
}

.nav-mid {
    width: 50%;
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    filter: invert(100);
    background-color: #f3f3f3;
    outline: none;
    border: none;
}

.dropdown-all{
    margin-right: -10px;
}

.dropdown ul {
    /* margin-top: 5px; */
    /* list-style-type: none; */
    /* height: 0px; */
    overflow: hidden;

    position: absolute;
    /* <-- added declarations */
    /* left: 0; */
    /* top: 100%; */
    /*     here               */
    /* width: 100%; */
    /*     and here...        */

    /* transition: height 1s ease; */
}

.nav-search {
    width: 120%;
    height: 36px;
    border-radius: 7px;
    outline: 0;
    border: 0;
    padding: 10px;
    font-size: small;
}

.searchIcon {
    padding: 5px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #febd69;
    /* height: 50px; */
    margin-left: -5px;
    transform: scale(1.5);
    outline: 0;
    border: 0;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.country{
    margin-right: 30px;
    height: 60px;
    width: 15%;
    margin-left: 30px;
}

.country:hover{
    border: 2px solid white;
}

.country img{
    width: 30px;
    border-radius: 2px;
    max-height: 25px;
    margin-top: 15px;
    margin-left: 13px;
}

.nav-account {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 5px;
    width: 30%;
    border: 1px solid white;
    /* padding: 40px/ 0px; */
}

.nav-orders {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 20%;
}

.span-h2 {
    font-size: small;
}

.span-h1 {
    font-size: medium;
    font-weight: bold;
}

.nav-cart {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    align-items: center;
}

.shoppingCartIcon {
    width: 38px;
    /* using tranform to increase the size of this MUI svg icon */
    transform: scale(1.7);
    margin: 0 5px;
}

.span-cart {
    padding-top: 10px;
    font-weight: bold;
}

.header-bottom {
    background-color: #232f3f;
    height: 40px;
    color: white;
    /* margin-top: -8px; */
}

.header-bottom ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px 20px;
}

.header-bottom li {
    margin: 3px 7px;
    font-size: 15px;
}