* {
    padding: 0;
    margin: 0;
}

.cartProduct {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 10px 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: gray;
}

.card-header-dark {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: lightgray;
}

.content {
    font-size: medium;
    color: black;
}

.content-dark {
    font-size: medium;
    color: white;
}

.blockquote {
    display: flex;
}

.cartProduct-image {
    width: 13%;
    border: 16px solid white;
}

.order-div-mid {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto 20px;
}

.cartProduct-name {
    font-size: smaller;
    width: 75%;
    margin-bottom: 0;
}

.orderProduct-seller {
    margin: 5px 0;
    font-size: small;
}

.buyAgain-btn {
    width: 20%;
    font-size: small;
    background-color: #fed813;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 5px;
}

.buyAgain-btn:hover {
    background-color: #ffc400;
}

.remove-btn {
    width: 30%;
    font-size: small;
    background-color: lightgray;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 5px;
}

.remove-btn:hover {
    background-color: rgba(182, 182, 182, 0.788);
}

.btn-light {
    border: 1px solid lightgray;
    font-size: small;
    border-radius: 7px;
    float: right;
}

.btn-light:hover {
    background-color: rgb(238, 238, 238);
}