body {
    background-color: white;
    height: 100vh;
}

.signin-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.home-link {
    color: black;
    text-decoration: none;
}

.amazon-logo {
    margin: 15px auto;
    object-fit: contain;
}

.signin-form {
    border: 1px solid #80808069;
    border-radius: 4px;
    width: 350px;
    padding: 20px;
    height: fit-content;
}

.signin-form h2 {
    margin-bottom: 20px;
}

.signin-form form h6 {
    font-weight: bolder;
    font-size: smaller;
    margin-bottom: 5px;
    margin-top: 20px;
}

.signin-form form input {
    padding: 5px;
    width: 100%;
    outline: orange;
    outline-color: orange;
    font-size: smaller;
    /* margin-bottom: 20px; */
}

.signin-btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    margin-top: 20px;
    background-image: linear-gradient(#ffc94352, #f0c14bdb, #ffc943);
}

.signin-btn:hover:enabled {
    background-image: linear-gradient(#ffc42e52, #ffb700db, #ffb700);

}

.signin-form>form>p {
    font-size: small;
}

.signup-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.signup-section>p {
    font-size: small;
    color: gray;
    margin: 10px 0;
}

.signup-section>button {
    width: 350px;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 3px;
    background-image: linear-gradient(white, #d3d3d370, lightgray);
}

.signup-section>button:hover {
    background-image: linear-gradient(lightgray, lightgray, lightgray);
}

.anchors:hover {
    color: #C45500;
}

hr {
    width: 80%;
    color: gray;
}

.footer-guide {
    font-size: 11px;
    margin: 10px;
}

.footer-guide a {
    margin: 0 10px;
}

footer {
    font-size: 11px;
}

.already {
    font-size: small;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin: 0;
    color: black;
}

.signin-link:hover {
    color: #C45500;
}